* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #222;
    --medium-dark-color: #333;
    --light-color: #eee;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marg-bottom-20 {
    margin-bottom: 20px;
}

/* Admin panel */
.header-panel {
    background: var(--medium-dark-color);
    box-shadow: 5px 5px 20px black;
    border: 1px solid ;
    padding: 10px;
    width: 800px;
}

/* Main App container */

.container {
    outline: 1px solid var(--light-color);
}

.admin-panel-button {
    appearance: none;
    background: var(--medium-dark-color);
    color: var(--light-color);
    border: 1px solid var(--light-color);
    padding: 3px;
}

.admin-panel-button:hover {
    opacity: .75;
}

.reset-app {
    float: right;

}